version: "3"
services:
  demo_app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        app_env: development
    container_name: demo_app
    volumes:
      - .:/go/src/go-clean-architecture-demo
    links:
      - postgres_db
    depends_on:
      - postgres_db
    ports:
      - "8080:8080"
    environment:
      POSTGRES_HOST: postgres_db
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASS: mypass
      POSTGRES_DB: docker_demo

  postgres_db:
    image: "postgres:9.5-alpine"
    container_name: postgres_db
    restart: 'always'
    ports:
    - "5433:5432"

  pgadmin:
    image: chorss/docker-pgadmin4
    ports:
    - 5050:5050